version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: zenga_app:latest
    ports:
      - "5500:5500"
    environment:
      - NODE_ENV=production
      - PORT=5500
    env_file:
      - .env
    restart: unless-stopped

  dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    command: npm run dev
    volumes:
      - ./:/usr/src/app:delegated
      - /usr/src/app/node_modules
    ports:
      - "5500:5500"
    environment:
      - NODE_ENV=deZENGApment
      - PORT=5500
    env_file:
      - .env
    tty: true
    stdin_open: true
