name: Deploy to Dokploy

on: 
  push: 
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Trigger Dokploy Deployment
        run: |
          curl -X 'POST' 'http://localhost:3000/api/deploy/compose/m2djzWorLBFcvHBDTgY_9'
